.image-gallery__figure {
  max-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & + .image-gallery__figure {
    margin-left: $space-4;
  }
}

.image-gallery__image {
  width: 100%;

  @media screen and (min-width: $screen-md) {
    max-height: 60vh;
    object-fit: contain;
  }
}

.image-gallery__caption {
  display: flex;
  margin-top: $space-4;

  span {
    display: inline-block;
    margin-right: $space-4;
  }
}

.image-gallery__nav {
  margin-top: $space-4;
}

.image-gallery__nav-thumbnail {
  width: 48px;
  height: 48px;
  object-fit: cover;
  opacity: 0.5;

  & + .image-gallery__nav-thumbnail {
    margin-left: $space-3;
  }

  &.is-selected {
    opacity: 1;
  }
}
