.event-intro {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-lg) {
        flex-direction: row;
        gap: $gutter-sm;
    }
}

.event-intro__info {
    margin-bottom: $space-6;

    @media screen and (min-width: $screen-md) {
        width: 33.3333333333%;
    }
}

.event-intro__body {
    @media screen and (min-width: $screen-lg) {
        width: 66.666666667%;
    }
}