@font-face {
  font-family: Roobert;
  src: url("../fonts/RoobertTRIAL-Light.woff2") format("woff2"),
    url("../fonts/RoobertTRIAL-Light.woff") format("woff2");
  font-display: swap;
  font-weight: 300;
}
