@mixin container {
  padding-left: $space-4;
  padding-right: $space-4;

  @media screen and (min-width: $screen-md) {
    padding-left: $space-6;
    padding-right: $space-6;
  }
  
  @media screen and (min-width: $screen-xl) {
    padding-left: $space-8;
    padding-right: $space-8;
  }

  @media screen and (min-width: $screen-2xl) {
    padding-left: $space-10;
    padding-right: $space-10;
  }
}

// Page Sections

.page-section {
  @include container;
  padding-top: $space-8;
  padding-bottom: $space-8;

  @media screen and (min-width: $screen-lg) {
    display: flex;
    column-gap: $gutter-sm;
  }
}

.page-section__left-column {
  @media screen and (min-width: $screen-lg) {
    width: calc(100% * 4/12);
  }
}

.page-section__right-column {
  @media screen and (min-width: $screen-lg) {
    width: calc(100% * 8/12);
  }
}

.page-section + .page-section {
  border-top: solid var(--black) 1px;
}

// Link colours

a {
    color: inherit;
}