body {
  font-family: $font-sans;
  font-size: $text-base;
  line-height: $line-height-md;

  @media screen and (min-width: $screen-2xl) {
    font-size: $text-lg;
  }
}

h1 {
  font-size: $text-5xl;
  line-height: $line-height-xs;
  font-weight: 300;

  &+ * {
    margin-top: $space-3;
  }
}

p + * {
  margin-top: 1em;
}

h2 {
  font-size: $text-4xl;

  &+ * {
    margin-top: $space-6;

    @media screen and (min-width: $screen-md) {
      margin-top: $space-10;
    }
    
    @media screen and (min-width: $screen-lg) {
      margin-top: 0;
    }
  }
}

